[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DBTC"]
	path = DBTC
	url = https://github.com/rgyoung6/dbtc
[submodule "MACER"]
	path = MACER
	url = https://github.com/rgyoung6/macer
